<div class="container-fluid bg-secondary min-vh-100 ">
  <div class="container bg-light pt-3 min-vh-100 ">
    <h2 class="mb-4">TimeTable</h2>
    <div class="row justify-content-md-center">
      <div class="col-md-10 col-sm-12 mb-3">
        <img src="/images/timetable-demo.png" class="img-fluid w-100" alt="Responsive image">
      </div>
    </div>
  </div>
</div>